################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/GWZJBackstage.Application/obj/Debug
/GWZJBackstage.Application/obj/Release
/GWZJBackstage.Core/obj/Debug
/GWZJBackstage.Core/obj/Release
/GWZJBackstage.Core/GWZJBackstage.Core.csproj.user
/GWZJBackstage.EntityFramework/obj/Debug
/GWZJBackstage.EntityFramework/obj/Release
/GWZJBackstage.EntityFramework/GWZJBackstage.EntityFramework.csproj.user
/GWZJBackstage.Web/obj/Debug
/GWZJBackstage.Web/obj/Release
/GWZJBackstage.WebApi/obj/Debug
/GWZJBackstage.WebApi/obj/Release
/packages
/Tests/GWZJBackstage.Tests/bin/Debug
/Tests/GWZJBackstage.Tests/bin/Release
/Tests/GWZJBackstage.Tests/obj/Debug
/Tests/GWZJBackstage.Tests/obj/Release
/Tools/GWZJBackstage.Migrator/obj/Debug
/Tools/GWZJBackstage.Migrator/obj/Release
/GWZJBackstage.Web/bin
/GWZJBackstage.Application/bin/Debug
/GWZJBackstage.Core/bin/Debug
/GWZJBackstage.EntityFramework/bin/Debug
/GWZJBackstage.WebApi/bin/Debug
/Tools/GWZJBackstage.Migrator/bin/Debug
/GWZJBackstage.Application/bin/Release
/GWZJBackstage.Core/bin/Release
/GWZJBackstage.EntityFramework/bin/Release
/GWZJBackstage.Web/App_Data/Logs
/GWZJBackstage.WebApi/bin/Release
/GWZJBackstage.Web/WXFile
/GWZJBackstage.Web/CCBFile/20190310-20190310txt.zip
/GWZJBackstage.Web/CCBFile
